@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  color: #fff;
}

a {
  color: inherit;
}

p {
  -webkit-margin-before: .3em;
}

.clearfix::after,
.clearfix::before {
  display: block;
  clear: both;
  content: '';
}

.container {
  font-family: Arial,sans-serif;
  font-size: 1em;
  line-height: 1.42;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: white url(../img/bg.gif) repeat-x;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1050px;
  height: 82%;
  margin: 0 auto;
  background-size: cover;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 2px 5px 9px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 5px 9px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 40%;
  height: 90%;
  background: url("../img/logo.gif") left no-repeat;
  background-size: contain;
}

.header__img {
  width: 75%;
}

.header__title {
  width: 45%;
  text-align: right;
  color: #f69200;
}

.header__title-h {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.17);
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

/*                 MAIN INFO                       */

.main__slogan {
  width: 98%;
  text-align: center;
}

.main__slogan-h {
  font-size: 1.6rem;
  margin: .3em;
  color: #fff;
}

.main__info {
  display: none;
  width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.main__totals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: auto;
  border: 1px solid #fff7f0;
  border-radius: 6px;
  background: #fff;
}

.main__totals-img {
  width: 100%;
  height: 536px;
  background: url("../img/infoImg.jpg") top no-repeat;
  background-size: contain;
}

.main__totals-h {
  text-align: center;
  color: #2b2b2b;
}

.main__about {
  width: 48%;
  height: auto;
  padding: 5px;
  text-align: justify;
  color: #2b2b2b;
  border: 1px solid #fff7f0;
  border-radius: 6px;
  background: #fff;
}

.main__thanks {
  width: auto;
  height: 20px;
  text-align: center;
}

.main__thanks-h {
  color: #2b2b2b;
  -webkit-margin-before: .3em;
  -webkit-margin-after: .3em;
}

/*                END OF MAIN INFO                       */

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__btn {
  font-size: 22px;
  width: 80%;
  height: 50%;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #f7ab38;
}

.button__price {
  font-size: 16px;
  line-height: 15px;
  color: #2b2b2b;
  -webkit-margin-before: .3em;
  -webkit-margin-after: .3em;
}

.footer {
  line-height: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1050px;
  height: 18%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background: #9ab9e0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hide__content {
  display: none;
}

.hide {
  display: none;
}

@media screen and (min-width: 370px) {
  /* iPhone 6 portrait � width: 375px */

  .wrapper {
    height: 86%;
  }

  .footer {
    height: 14%;
  }

  .main__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 60%;
  }

  .main__thanks {
    display: none;
  }
}

@media screen and (min-width: 410px) {
  /* iPhone 6 Plump portrait � width: 414px */

  .wrapper {
    height: 90%;
  }

  .footer {
    height: 10%;
  }

  .header {
    height: 15%;
  }

  .main__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 55%;
  }
}

@media screen and (min-width: 560px) {
  /* iPhone 5 landscape � width: 568px */

  .wrapper {
    height: 80%;
  }

  .footer {
    height: 20%;
  }

  .header {
    height: 30%;
  }

  .header__logo {
    height: 80%;
  }

  .main__slogan {
    width: 100%;
  }

  .main__info {
    display: none;
  }

  .main__thanks {
    display: none;
  }

  .header__title {
    width: 55%;
  }

  .button {
    height: 90px;
  }

  .button__btn {
    height: 60%;
  }
}

@media screen and (min-width: 660px) {
  /* iPhone 6 landscape � width: 667px */

  .wrapper {
    height: 88%;
  }

  .footer {
    height: 12%;
  }

  .main__thanks {
    display: block;
  }

  .header {
    height: 30%;
  }
}

@media screen and (min-width: 730px) {
  /* iPhone 6 Plump landscape � width: 736px */
}

@media screen and (min-width: 760px) {
  /* iPad portrait � width: 768px */

  .wrapper {
    height: 95%;
  }

  .header {
    height: 13%;
  }

  .header__title-h {
    font-size: 3.1rem;
    text-align: center;
  }

  .hide {
    display: block;
  }

  .main__slogan-h {
    font-size: 2.3rem;
  }

  .main__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 65%;
  }

  .main__totals-h {
    margin: 5px auto;
    font-size: 2.3rem;
  }

  .main__topic {
    font-size: 1.4rem;
  }

  .main__thanks {
    display: block;
  }

  .button {
    height: 120px;
  }

  .button__btn {
    font-size: 3.5rem;
  }

  .footer {
    line-height: 15px;
    height: 5%;
  }
}

@media screen and (min-width: 1000px) {
  /* iPad landscape + iPad Pro portrait � width: 1024px */

  .wrapper {
    height: 93%;
  }

  .footer {
    height: 7%;
  }

  .header {
    height: 14%;
  }

  .header__title-h {
    font-size: 3rem;
    text-align: center;
  }

  .main__info {
    height: 80%;
  }

  .main__thanks {
    display: none;
  }
}

@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* IPhone 5 ONLY landscape */

  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .container {
    margin-top: 50px;
    width: 568px;
    height: 230px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 667px) and (height: 375px) and (orientation: landscape) and (color: 8) and (device-aspect-ratio: 375 / 667) and (aspect-ratio: 667 / 375) and (device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
  /* iPhone 6 landscape ONLY */

  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .container {
    margin-top: 50px;
    width: 667px;
    height: 275px;
  }
}