
@media screen and (min-width: 370px)
{
  /* iPhone 6 portrait – width: 375px */
  $footerHeight: 14%;
  $wrapperHeight: (100% - $footerHeight);
  .wrapper
  {
    height: $wrapperHeight;
  }
  .footer
  {
    height: $footerHeight;
  }
  .main__info
  {
    display: flex;

    height: 60%;
  }
  .main__about {
    display: none;
  }
  .main__totals {
    width: 90%;
  }
  /*.main__thanks {
    display: none;
  }*/
}

@media screen and (min-width: 475px)
{
  /* iPhone 5 landscape – width: 568px */
  $footerHeight: 20%;
  $wrapperHeight: (100% - $footerHeight);
  .wrapper
  {
    height: $wrapperHeight;
  }
  .footer
  {
    height: $footerHeight;
  }
  .header
  {
    height: 30%;
  }
  .header__logo
  {
    height: 80%;
  }
  .main__slogan
  {
    width: 100%;
  }
  .main__info
  {
    display: none;
  }
  .main__thanks
  {
    display: none;
  }
  .header__title
  {
    width: 55%;
  }
  .button
  {
    height: 90px;
  }
  .button__btn
  {
    height: 60%;
  }
}
@media (device-height : 568px)
and (device-width : 320px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait)
{
  .button {
    margin-bottom: 70px;
  }

}

@media (device-height : 568px)
and (device-width : 320px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : landscape)
{
  /* IPhone 5 ONLY landscape */

  body
  {
    display: flex;

    align-items: center;
  }
  .container
  {
    /*margin-top: 50px;*/
    width: 568px;
    height: 230px;
  }
}

@media screen and (min-width: 410px)
{
  /* iPhone 6 Plump portrait – width: 414px */
  $footerHeight: 10%;
  $wrapperHeight: (100% - $footerHeight);
  .wrapper
  {
    height: $wrapperHeight;
  }
  .footer
  {
    height: $footerHeight;
  }
  .header
  {
    height: 15%;
  }
  .main {
    height: 100%;
  }
  .main__info
  {
    display: flex;

    height: 55%;
  }
}
@media screen and (min-width: 660px)
{
  /* iPhone 6 landscape – width: 667px */
  $footerHeight: 12%;
  $wrapperHeight: (100% - $footerHeight);
  .wrapper
  {
    height: $wrapperHeight;
  }
  .footer
  {
    height: $footerHeight;
  }

  .main__thanks
  {
    display: block;
  }
  .header
  {
    height: 30%;
  }
}
@media only screen
and (min-device-width : 375px) // or 213.4375em or 3in or 9cm
and (max-device-width : 667px) // or 41.6875em
and (width : 667px) // or 41.6875em
and (height : 375px) // or 23.4375em
and (orientation : landscape)
and (color : 8)
and (device-aspect-ratio : 375/667)
and (aspect-ratio : 667/375)
and (device-pixel-ratio : 2)
and (-webkit-min-device-pixel-ratio : 2)
{
  /* iPhone 6 landscape ONLY */

  body
  {
    display: flex;

    align-items: center;
  }
  .container
  {
    margin-top: 50px;
    width: 667px;
    height: 275px;
  }

}

@media screen and (min-width: 730px)
{
  /* iPhone 6 Plump landscape – width: 736px */

}
@media screen and (min-width: 760px)
{
  /* iPad portrait – width: 768px */
  $footerHeight: 6%;
  $wrapperHeight: (100% - $footerHeight);
  .wrapper
  {
    height: $wrapperHeight;
  }
  .header {
    height: 13%;
  }
  .header__title-h
  {
    font-size: 3.1rem;

    text-align: center;
  }
  .hide
  {
    display: block;
  }
  .main__slogan-h
  {
    font-size: 2.3rem;
    margin-bottom: 13px;
  }
  .main__info
  {
    display: flex;

    height: 65%;
  }
  .main__about {
    display: block;
  }
  .main__totals {
    width: 40%;
  }
  .main__totals-h
  {
    margin: 5px auto;

    font-size: 2.3rem;
  }
  .main__topic
  {
    font-size: 1.5rem;
  }
  .main__thanks {
    display: block;
  }
  .button
  {
    height: 120px;
  }
  .button__btn
  {
    font-size: 3.5rem;
  }
  .footer
  {
    line-height: 15px;

    height: $footerHeight;
  }
}
@media screen and (min-width: 1000px)
{
  /* iPad landscape + iPad Pro portrait – width: 1024px */
  $footerHeight: 7%;
  $wrapperHeight: (100% - $footerHeight);
  .wrapper
  {
    height: $wrapperHeight;
  }
  .footer
  {
    height: $footerHeight;
  }
  .header
  {
    height: 14%;
  }
  .header__title-h
  {
    font-size: 3rem;

    text-align: center;
  }
  .main__info
  {
    height: 80%;
  }
  .main__about {
    width: 60%;
  }
  .main__totals {
    width: 35%;
  }
  .main__thanks
  {
    display: none;
  }
}
